# object files and libraries
*.o
crawler
indexer
pageio_test
indexio_test
test_indexcp

# save files
*~
\#*\#
.\#*

# debugging symbols
*.dSYM

# local backups
.backup

# log files
*.log

# internal dir
/pages
